:host ::ng-deep .p-button {
  display: none;
}
:host ::ng-deep .p-menu-item.p-focus .p-menu-item-content {
    color: #0561fc !important;
}
:host ::ng-deep .p-menu-item-link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: gray;
}
::ng-deep .p-menu-list {
  height: 100vh;
}
::ng-deep a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  :host ::ng-deep .p-button,
  :host ::ng-deep .p-button:hover,
  :host ::ng-deep .p-button:focus,
  :host ::ng-deep.p-button:not(:disabled):hover {
    display: block;
    display: flex;
    justify-content: start;
    background-color: #0561fc;
    color: white;
    border-color: #0561fc;
  }
  ::ng-deep .p-tieredmenu-root-list,
  ::ng-deep.p-tieredmenu-submenu {
    width: max-content !important;
    max-width: 100vw !important ;
    overflow-x: hidden !important;
  }
  ::ng-deep .p-button span {
    text-align: start;
  }

  ::ng-deep .p-menu {
    display: none;
  }
}
